Checks: "*,
    -abseil-*,
    -altera*,
    -android-*,
    -darwin-*,
    -fuchsia-*,
    -linuxkernel-*,
	-llvm-*,
    -llvmlibc-*,
    -zircon*,
    -cppcoreguidelines-macro-usage,
    -google-readability-todo,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
    -modernize-use-trailing-return-type,
    -readability-else-after-return,
    -readability-static-accessed-through-instance,  
    -readability-function-cognitive-complexity,
    -readability-identifier-length
"

HeaderFilterRegex: ''
WarningsAsErrors: ''
FormatStyle: none
